body {
  font-family: "Montserrat", sans-serif;
}

/* header -------------------------------------------------------------------------*/

.logo img {
  height: 90px;
  padding-right: 50px;
}

header {
  display: flex;
  /* background-color: pink; */
  align-items: center;
  height: 150px;
  font-size: 40px;
}

/* main ----------------------------------------------------------------------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 700px;
  /* background-color: pink; */
}

main button {
  height: 50px;
  width: 80px;
  font-size: 25px;
  box-shadow: 10px 5px 5px lightgray;
}
.test {
  background-color: rgb(198, 227, 207);
  display: flex;
  justify-content: center;
  width: 300px;
}

/* renvoie aux deux boutons cote à cote*/
.essai1 {
  display: flex;
  background-color: white;
  /* height: 250px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.secondcol button {
  height: 100px;
  width: 150px;
  margin-left: 300px;
  box-shadow: 10px 5px 5px lightgray;
}

.reset button {
  font-size: 20px;
  background-color: rgb(208, 225, 188);
  margin-left: 120px;
  height: 60px;
  box-shadow: 10px 5px 5px lightgray;
}

/* footer -------------------------------------------------------------------------*/
footer {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
footer span {
  font-weight: bold;
}
