body {
  font-family: "Montserrat", sans-serif;
}
.logo img {
  height: 100px;
  padding-right: 50px;
}

header {
  display: flex;
  align-items: center;
  height: 150px;
  font-size: 40px;
}

main {
  height: 700px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
footer span {
  font-weight: bold;
}
